@model IEnumerable<MvcScallfolding.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Nome
        </th>
        <th>
            Idade
        </th>
        <th>
            Endereco
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Nome
        </td>
        <td>
			@item.Idade
        </td>
        <td>
			@if (item.Endereco != null)
   {
       @Html.ActionLink("Editar", "Edit", "Endereco", new { id = item.Endereco.Id },"");
   }
   else
   {
   <text>Nao tem endereco</text>
   }
        </td>
    </tr>
}

</table>


